/* nav start */
.nav-color{
    background-color: #F2F7FD;
    border-bottom: 1px solid #E4E4E4;
}
/* end */

/* breadcrumb start */
.sec1{
    background-color: #F2F7FD;

}
.home{
    text-decoration: none !important;
    color: black !important;

}
/* breadcrumb end */


.sec{
    background: #F1F1F1;

}
.log-img{
    background-image: url('../images/Rectangle\ 60.png');
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
}
.login{
    background-color: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 66px;
}
.login-box{
    background-color: white;
}
.btn-blue{
    background-color: #2E4057 !important;
    color: white !important;
}